<footer class='footer'>
	<div class="container d-flex justify-content-between align-items-center">
		<div class="post__socials-footer d-flex justify-content-center align-items-center">
			<a href="javascript: OpenWin('https://www.behance.net/');" class="social">
				<svg width="20" height="20">
					<use xlink:href="#behance"></use>
				</svg>
			</a>
			<a href="javascript: OpenWin('https://www.linkedin.com/');" class="social">
				<svg width="20" height="20">
					<use xlink:href="#linkedin"></use>
				</svg>
			</a>
			<a href="javascript: OpenWin('https://www.google.com/');" class="social">
				<svg width="20" height="20">
					<use xlink:href="#google-plus"></use>
				</svg>
			</a>
			<a href="javascript: OpenWin('https://www.facebook.com/');" class="social">
				<svg width="15" height="20">
					<use xlink:href="#facebook"></use>
				</svg>
			</a>
			<a href="javascript: OpenWin('https://www.twitter.com/');" class="social">
				<svg width="20" height="20">
					<use xlink:href="#twitter"></use>
				</svg>
			</a>
		</div>
		<div class='copyright order-md-first'>©2014 <b>tulus</b>driyo. All Rights Reserved.</div>
	</div>
</footer>