<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
	    <div class="container">
  	        <a class="navbar-brand" href="#home">
  				<!-- <img src="../img/logo.png" alt="logo"> -->
  			    <svg width="54" height="72">
					<use xlink:href="#logo"></use>
				</svg>
  	        </a>
  		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			 <span class="navbar-toggler-icon"></span>
  		    </button>
 	 		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    			<ul class="navbar-nav">
     				<li class="nav-item ml-lg-4 active">
       					<a class="nav-link animated" href="#home">Home<span class="sr-only">(current)</span>
       					</a>
      				</li>
     				<li class="nav-item ml-lg-4">
       					<a class="nav-link animated" href="#about">About</a>
      				</li>
      				<li class="nav-item ml-lg-4">
       					<a class="nav-link animated" href="#services">Services</a>
      				</li>
      				<li class="nav-item ml-lg-4">
       					<a class="nav-link animated" href="#works">Works</a>
      				</li>
      				<li class="nav-item ml-lg-4">
       					<a class="nav-link animated" href="#contact">Contact</a>
      				</li>
    			</ul>
  			</div>
	    </div>
    </nav>
</header>