<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="stylesheet" href="animate.css"> -->

<link rel="stylesheet" href="css/bootstrap.min.css">