@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proxima_nova_bold.otf') format('opentype'),
    	 url('../fonts/proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proxima_nova_semibold.otf') format('opentype'),
    	 url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
         url('../fonts/proxima_nova_semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$text-color: #665f60;
$body-color: #ebebeb;
$body2-color: #dbdbdb;
$bg-color: #9f9acf;

$text-font: 400 20px/1.2 'PT Sans', sans-serif;
$title-font: 36px/1.2 'proxima_novasemibold', sans-serif;
$btn-font: 700 18px/1 'proxima_novabold', sans-serif;


@mixin transition() {
	transition: all .5s ease-in;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin svg-circle {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    @include flex-row;
    justify-content: center;
    background-color: #fff;
    text-decoration: none;
    svg {
        fill: $bg-color;
    }
    &:hover,
    &:focus,
    &:active {
        border: 1px solid #fff;
        background-color: $bg-color;
        @include transition();
        svg {
        	fill: rgb(255, 255, 255);;
    	}
    }
}  
@mixin limit-title($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin limit-text($rem) {
    max-height: $rem;
    overflow: hidden;
}

* {
	box-sizing: border-box;
}

html {
	// font-size: 10px;
	height: 100%;
}
body {
	font: $text-font;
	// font-size: 1rem;
	color: $body-color;
	min-height: 100%;
}
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	@include transition();
} 
.header.wrapper {
	background-color: rgba(159,154,207,.3);
	min-height: 100px;
}
.home {
	height: 130vh;
	background: linear-gradient(to right, rgba(159,154,207,.5), rgba(159,154,207,.5)), url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
@include media-breakpoint-down(sm) {
	.home {
		height: 80vh;
		background: $bg-color;
	}
	.navbar-collapse.show {
		background-color: $bg-color;
	}
}
@media (max-width: 400px) { 
	.home .cover__title {
		font-size: 3rem;
		// margin-top: 100px;
	}
}
.navbar-collapse.show {
	background-color: inherit;
	text-align: center;
	z-index: 2;
	& .nav-item {
		width: 80%;
		background-color: lighten($bg-color,10%);
		margin-bottom: 10px;
	}
}
@media (max-width: 767.98px) { 
	.navbar-collapse.show {
		background-color: $bg-color;
	}
}
.navbar-toggler {
	font-size: 2rem;
	overflow: hidden;
}
.navbar li {
	display: block;
	margin: 0 auto;
}
.navbar-nav li a {
	font: $title-font;
	font-size: 24px;
	color: #fff !important;
	@include transition();
}
.navbar-toggler {
	outline: none;
	border: none;
	&:hover,
	&:active {
		outline: none;
		border: none;
	}
}
.about {
	padding: 120px 0;
	.wrap {
		height: 555px;
		background-color: $bg-color;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 75px;
	}
}
@include media-breakpoint-down(md) {
	.about {
		padding: 50px 0 20px;
	}
}
.about, .services, .team {
	background-color: $body-color;
}
.about, .cover {
	.btn {
		width: 190px;
		height: 50px;
		font-style: italic;
		padding: 10px;
		margin-top: 80px;
	}
	@include media-breakpoint-down(md) {
		.btn {
			margin-top: 40px;
		}
	}
}
.works {
	background: linear-gradient(to right, rgba(182,178,215,.8), rgba(182,178,215,.8)), url(../img/bg_works.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
@media (max-width: 599.98px) {
	.works .btn {
		margin-top: 50px !important;
	}
}
.cover {
	&__title {
		font: $btn-font;
		font-size: 4.5rem;
	}
	&__text {
		font-style: italic;
		font-size: 1.8rem;
	}
	.btn {
		color: #fff;
		border-color: #fff;
		margin-top: 120px;
		margin-bottom: 55px;
	}
	// @include media-breakpoint-down(lg) {
	// 	.btn {
	// 		margin-top: 50px;
	// 	}
	// }
}
.row-text {
	color: $text-color;
}
.box {
 	height: 400px;
	align-items: center;
	&-bg {
		background-color: $body2-color;
	}
	&-large {
		height: 800px;
		background-color: #c2c0da;
		position: relative;
		&__title {
			position: absolute;
			top: 115px;
			align-items: center;
		}
	}
	.icon {
		svg {
			fill: $text-color;
		}
	}
	a {
		width: 100%;
		color: $text-color;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
	}
	.image {
		display: inline-block;
		width: 100%;
		height: 800px;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		margin: 20px auto;
		@include limit-title(80%);
		.box-large & {
			font: $title-font;
			color: #fff;
			margin: 25px 0 100px;
		}
	}
	&__subtitle {
		font-size: 18px;
		font-style: italic;
		padding: 0 60px;
		@include limit-text(12rem);
		span {
			font-weight: 700;
			font-style: normal;
		}
		.box-large & {
			color: #fff;
			padding: 0 10px;
		}
	}
}
.slider {
	position: relative;
}
.slide {
	outline: none;
	img {
		display: inline-block;
	}
	@include media-breakpoint-down(md) {
		img {
			width: 100%;
		}
	}
}
.slick-arrow {
	background-color: transparent;
	position: absolute;
	top: 50%;
	width: 70px;
	height: 70px;
	z-index: 5;
	border: 0;
	outline: none;
	@include transition;
	svg {
		fill: #ffffff;
	}
	&:hover {
		outline: none;
	}
}
@include media-breakpoint-down(md) {
	.slick-prev, .slick-next {
		display: none;
	}
}
.post-slider button svg {
	fill: #665f60;
}
.slick-prev, .slick-preve {
	left: 0;
	transform: rotate(-90deg);
}
.slick-next, .slick-nexte {
	right: 0;
	transform: rotate(90deg);
}
.slick-dots {
	margin-top: 40px;
	padding: 0;
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	li {
		display: inline-block;
		margin: .5rem;
		button {
			font-size: 0;
			background-color: transparent;
			border: 1px solid #fff;
			background-color: transparent;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			padding: 0;
			outline: none;
			@include transition;
			&:hover,
			&:focus {
				background-color: #fff;
				border-color: #fff;
			}
		}
	}
}
.post-slider {
	position: relative;
	height: 480px;
	margin-bottom: 100px;
}
.slides {
	margin-left: 15px;
	margin-right: 15px;
}
.post {
	height: 355px;
	background-color: #fff;
	margin: 150px 0 0;
	position: relative;
	&__img-wrap {
		width: 260px;
		min-height: 260px;
		background-color: $body-color;
		border: 15px solid transparent;
		border-radius: 50%;
		margin: auto;
		position: relative;
		top: -100px;
		overflow: hidden;
	}
	&__img {
		width: 100%;
		position: absolute;
    	top: 50%;
		left: 50%;
    	transform: translate(-50%,-50%);
   	}
	&__link {
		text-decoration: none;
		width: 100%;
		height: 100%;
	}
	&__info {
		color: $text-color;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		&-name {
			font-family: 'proxima_novabold';
			font-size: 24px;
			color: $bg-color;
			text-transform: uppercase;
		}
		&-position {
			font-style: italic;
			font-size: 24px;
			text-align: center;
			margin: 15px 0 0 0;
		}
	}
	&__socials {
		width: 100%;
		min-height: 70px;
		background-color: $bg-color;
		position: absolute;
		bottom: 0;
	}
}
.social {
	@include svg-circle;
}
.social + .social {
	margin-left: 15px;
}
#map {
	height: 900px;
}
.contact {
	background: linear-gradient(to right, rgba(159,154,207,.5), rgba(159,154,207,.5));
	position: relative;
	overflow: hidden;
	&__map {
		opacity: .3;
	}
	&__title {
		position: absolute;
		z-index: 2;
		background-color: transparent;
		top: 0;
		left: 0;
		margin: auto;
		bottom: 655px;
		right: 0;
	}
}
.title {
	color: #fff;
	font: $title-font;
	.team & {
		color: $text-color;
	}
	.works & {
		margin-top: 35px;
		margin-bottom: 65px;
	}
}
.form {
	box-sizing: border-box;
	max-width: 865px;
	height: 410px;
	position: absolute;
	z-index: 2;
	top: 370px;
	left: 0;
	margin: auto;
	bottom: 0;
	right: 0;
	&__input, &__textarea {
		color: $text-color;
		font: $text-font;
		font-size: 18px;
		font-style: italic;
		background-color: $body-color;
		opacity: .6;
		height: 60px;
		padding: 0 0 0 25px;
		border-radius: 5px;
		outline: none;
		border: none;
	}
}
@include media-breakpoint-down(lg) {
	.form {
		width: 90%;
	}
}
.input-container {
	position: relative;
}
@include media-breakpoint-down(lg) {
	.input-container:first-child {
		margin-bottom: 20px;
	}
}
.input-container > label {
	font: $text-font;
	font-style: italic;
    color: rgba(255, 255, 255, 1);
    cursor: text;
    position: absolute;
	top: 17px;
	left: 35px;
}
.form textarea {
	margin-top: 25px;
	height: 200px;
	padding: 20px 0 0 25px;
	resize: none;
}
.form__btn {
	display: block;
	width: 295px;
	height: 70px;
	background-color: $bg-color;
	border: 1px solid transparent;
	border-bottom: 5px solid transparent;
	border-radius: 5px;
	color: #fff;
	font: $btn-font;
	font-size: 20px;
	line-height: 20px;
	margin: 55px auto 0;
	&:hover,
	&:focus,
	&:active {
		transform: scale(1.05);
		border-bottom: 5px solid #8783b0;
		@include transition();
	}
}
@media (max-width: 991.98px) {
	.form__btn {
		margin: 20px auto 10px;
	}
}
.contact__address,
.contact__tel {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 215px;
	width: 350px;
	height: 90px;
	background-color: $body-color;
	opacity: .6;
	transform: translateX(260px);
	transition: transform .8s ease-in;
}
.contact__tel {
	top: 305px;
}
.contact__address-icon,
.contact__tel-icon {
	display: inline-block;
	width: 90px;
	height: 100%;
	background-color: $bg-color;
	padding: 20px;
	svg {
		fill: #ffffff;
	}
}
.contact__address-info,
.contact__tel-info {
	display: inline-block;
	width: calc(100% - 90px);
	height: 100%;
	text-align: center;
	padding-top: 15px;
}
.contact__address-info p,
.contact__tel-info p {
	color: $text-color;
	font-size: 18px;
}
.contact__tel-info p {
	padding-top: 15px;
} 
.contact__address:hover,
.contact__tel:hover {
	transform: translateX(0);
	transition: transform .8s ease-in;
}
@media (max-width: 350px) { 
	.contact__address,
	.contact__tel {
		width: 320px;
	}
}
.contact__up {
	position: absolute;
	z-index: 2;
	right: 10%;
	bottom: 50px;
	width: 85px;
	height: 85px;
	background-color: rgba(159,154,207,.6);
	padding: 25px;
	svg {
		fill: #ffffff;
	}
	&:hover {
		opacity: .5;
		@include transition();
	}
}
@media (max-width: 767.98px) {
	.contact__up {
		background-color: inherit !important;
		right: 5% !important;
		svg {
			fill: #665f60 !important;
		}
	}
}
.footer {
	height: 185px;
	background-color: $bg-color;
	padding: 50px 0;
}
.copyright {
	font-size: 18px;
}
@media (max-width: 767.98px) {
	.footer .container {
		flex-direction: column;
	}
	.copyright {
		margin-top: 30px;
		text-align: center;
	}
}